// Variables

$pink: #ff6584;
$darkblue: #3f3d56;
$red: #ff6161;
$purple: #6c63ff;
$grey: #3f3d56;
$black: #2f2e41;
$pale-red: #ff7474;
$white: white;
$general-font-family: 'Roboto', sans-serif;

@import "components/header";
@import "components/footer";
@import "components/buttons";
@import "components/cards";

// General

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: $general-font-family;
}

body {
    background-color: $pale-red;
}

// Scrollbar

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: $black;
}

::-webkit-scrollbar-thumb {
    background: $white;
    border-radius: 5px;
}