.header {
    padding: 10px 3%;
    position: sticky;
    top:    0;
    z-index: 1000;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, .4);

    &__left {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    &__logo {
        cursor: pointer;
        height: 40px;
    }

    &__nav {
        margin-left: 30px;
    }

    &__li {
        list-style: none;
        margin-left: 20px;
        display: inline-block;
    }

    &__a {
        text-decoration: none;
        font-weight: 500;
        color: $black;
        transition: color .2s;
    }

    &__a:hover {
        color: $pink;
    }

    &__button {
        transition: transform .3s;
        &:hover {
            transform: scale(1.05);
        }
    }
}